<div class="ParentAdmin container-fluid">
    <div class="row justify-content-end">
        <div class="col-auto">
            <button class="btn btn-primary" routerLink="./nuevo"  [disabled]="!permisoEditar">+ Crear Nuevo Rol</button>
        </div>
    </div>
    <div class="row">
        <div class=" right-inner-addon col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <i class="bi bi-search" aria-hidden="true"></i>
            <input #input type="text" class="form-control" placeholder="Buscar" (keyup)="filtroRoles($event)" />
        </div>
        <div class="col-sm-3">
            <select class="form-select" (change)="selecccionarFiltro()" [(ngModel)]="estatusSeleccionado"
                aria-placeholder="Filtrar por estatus">
                <option [ngValue]="null" disabled>Filtrar por Estatus</option>
                <option value="">Todos</option>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-center" *ngIf="isLoading">
        <ngx-spinner *ngIf="isLoading" bdColor="rgba(0,0,0,0.1);" color="#000000" type="ball-clip-rotate"
            size="default" [fullScreen]="false">
            Cargando roles...
        </ngx-spinner>
    </div>
    <div *ngIf="dataRoles" class="dTable">
        <table mat-table [dataSource]="dataRoles" matSort aria-describedby="Roles">

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'font-weight': row.nuevo  ? 'bold': 'normal'}" [matTooltip]="row.descripcion" matTooltipPosition="above">{{
                    row.descripcion }}</td>
            </ng-container>

            <ng-container matColumnDef="totalUsuarios">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuarios</th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'font-weight': row.nuevo  ? 'bold': 'normal'}"
                    class="tableTextRight"><a href="javascript:void(0);" (click)="verUsuariosAsignados(row);">{{
                        row.totalUsuarios }}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de creación</th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'font-weight': row.nuevo  ? 'bold': 'normal'}"
                    class="tableTextCenter">{{
                    row.fechaRegistro | date :'dd/MMM/YYYY' }}</td>
            </ng-container>

            <ng-container matColumnDef="usuarioRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado por</th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'font-weight': row.nuevo  ? 'bold': 'normal'}"
                    [matTooltip]="row.usuarioRegistro" matTooltipPosition="above">
                    {{row.usuarioRegistro }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaModificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Última modificación</th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'font-weight': row.nuevo  ? 'bold': 'normal'}">
                    <div *ngIf="row.fechaModificacion !== '0001-01-01T00:00:00'" class="tableTextCenter">
                        {{ row.fechaModificacion | date :'dd/MMM/YYYY'}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="usuarioModifico">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado por</th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'font-weight': row.nuevo  ? 'bold': 'normal'}"
                    [matTooltip]="row.usuarioModifico" matTooltipPosition="above">
                    {{ row.usuarioModifico}}
                </td>
            </ng-container>
            <ng-container matColumnDef="estatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <div class="form-check form-switch d-flex justify-content-center">
                        <input class="form-check-input checkRolEstatus cursorPointer" type="checkbox"
                            [(ngModel)]="row.estatus" aria-label="checkboxRolEstatus" id="checkboxRolEstatus"
                            (click)="modificaEstatusRol(row, i, $event)">
                        <label class="form-check-label" for="checkboxRolEstatus"
                            [ngStyle]="{'font-weight': row.nuevo  ? 'bold': 'normal'}">{{row.estatus ? 'Activo' :
                            'Inactivo'}}</label>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Acciones-->
            <ng-container matColumnDef="acciones" class="d-flex justify-content-center">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let row;" class="tableTextCenter">
                    <a class="pointer icon-primary cursorPointer" matTooltip="Acceso restringido" matTooltipPosition="above" *ngIf="!permisoEditar" >
                        <i class="bi bi-eye-slash iconSize"></i>
                      </a>
                    <a class="pointer icon-primary cursorPointer" matTooltip="Ver" matTooltipPosition="above" *ngIf="permisoEditar"
                        [routerLink]="['./ver', 0, row.idRol]">
                        <i class="bi bi-eye iconSize"></i>
                    </a>
                    <a class="pointer icon-primary cursorPointer" matTooltip="Editar" matTooltipPosition="above" *ngIf="permisoEditar"
                        [routerLink]="['./editar', 1, row.idRol]">
                        <i class="bi bi-pencil-square iconSize"></i>
                    </a>
                    <a class="pointer icon-primary cursorPointer" matTooltip="Eliminar" matTooltipPosition="above" *ngIf="permisoEditar"
                        (click)="eliminarRol(row)">
                        <i class="bi bi-trash iconSize"></i>
                    </a>
                </td>
            </ng-container>

            <!-- Se muestra cuando no hay datos -->
            <div *ngIf="hasData">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No hay datos que coincidan con: "{{input.value}}"</td>
                </tr>
            </div>
            <div *ngIf="!hasData">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No hay Roles</td>
                </tr>
            </div>
        </table>
    </div>
    <!-- Paginador-->
    <div *ngIf="dataRoles">
        <mat-paginator paginator [length]="dataRoles.data.length" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>